{{ partial "head.html" . }}
	<body>
	{{ partial "nav.html" . }}

  <section id="wrapper" class="home">
    <div class="p-author">
        <div class="c-avatar">
          <img alt="author avatar" src="{{ .Site.BaseURL }}{{ if isset .Params "avatar" }}{{ .Params.avatar }}{{ else }}{{ .Site.Params.default_avatar }}{{ end }} " >
        </div>
        <div class="p-author-text">
              <div class="p-author-name">
              {{ .Params.name }}
              </div>

              <div class="p-author-bio">
              {{ .Params.bio }}
              </div>
        </div>
        <div class="p-author-social">
        {{ if .Params.github }}
              <a class="symbol" href="{{ .Params.github }}">
                  <i class="fa fa-github-square fa-lg"></i>
              </a>
        {{ end }}
        {{ if .Params.linkedin }}
              <a class="symbol" href="{{ .Params.linkedin }}">
                  <i class="fa fa-linkedin-square fa-lg"></i>
              </a>
        {{ end }}
        </div>
    </div>

    <ul id="post-list" class="author-list">
          {{ $author := .Params.name }}
            {{ range .Site.RegularPages }}
              {{ if in .Params.authors $author }}
        <li>
          <div class="post-item">
            <aside class="dates">{{ .Date.Format "Jan 2" }}</aside>
            <a href="{{ .Permalink }}" class="post-link">
              {{ .Title }}
            </a>
          </div>
        </li>
              {{ end }}
            {{ end }}
    </ul>
  </section>


	<div class="dd">
	</div>

	{{ partial "js.html" . }}
  {{ partial "footer.html" . }}
	</body>
</html>

