{{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}

        <section id="wrapper" class="post">
            <article>
                <header>
                    <h1>
                        {{ .Title }}
                    </h1>
                    {{ if .Params.Subtitle }}
                    <h2>
                        {{ .Params.Subtitle }}
                    </h2>
                    {{ end }}
                    <h2 class="headline">
                    {{ .Date.Format "Jan 2, 2006" }}
                    · {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
                    · {{ .ReadingTime }} minute read
                      <span class="tags">
                      {{ with .Params.tags }}
                      {{ if ge (len .) 1 }}
                          {{ range . }}
                              <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                          {{ end }}
                      {{ end }}
                      {{ end}}
                      </span>
                    </h2>
                </header>
                {{ if .Site.Params.enableToc }}
                  {{ if .TableOfContents }}
                    <div id="toc">
                      {{ .TableOfContents }}
                    </div>
                  {{ end }}
                {{ end }}
                <section id="post-body">
                    {{ .Content }}
                </section>
            </article>

            {{- range .Params.authors }}
            <div class="p-author">
                {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s"  (urlize .)) }}
                <div class="c-avatar">
                  <a href="{{ .Permalink }}">
                  <img alt="author avatar" src="{{ .Site.BaseURL }}{{ if isset .Params "avatar" }}{{ .Params.avatar }}{{ else }}{{ .Site.Params.default_avatar }}{{ end }} " >
                  </a>
                </div>
                <div class="p-author-text">
                      <a href="{{ .Permalink }}">
                        <div class="p-author-name">
                        {{ .Params.name }}
                        </div>
                      </a>

											<div class="p-author-bio">
											{{ .Params.bio }}
											</div>
                </div>
								{{ end }}
            </div>
            {{ end }}

            {{ if .Site.Params.enableShare }}
                {{ partial "share.html" . }}
            {{ end }}

            {{ if .Site.Params.enableDisqus }}
                {{ partial "disqus.html" . }}
            {{ end }}

            {{ if .Site.Params.showLatestPosts }}
                {{ partial "latest-posts.html" . }}
            {{ end }}

            {{ partial "footer.html" . }}
        </section>

        {{ partial "js.html" . }}
    </body>
</html>
